<h1>Weather App</h1>

{% if messages %}

{% for message in messages %}
<script>
setTimeout(function(){document.getElementById('message').style.display = 'none';
}, 3000);
</script>
    <div id="message">    
        {{ message }}
    </div>
{% endfor %}

{% endif %}


<form action="" method="get">
    <input type="text" name="name" placeholder="Enter city name">
    <input type="submit" name="submit" value="Add">
</form>

{% for city in city_data %}
    {{ city.city }}<br>
    {{ city.temp }}<span>&#8451;</span><br>
    <img src="http://openweathermap.org/img/wn/{{ city.icon }}.png" alt=""> <br>
    {{ city.desc }}<br>
    <hr>
    <button>
        <a href="{% url 'delete' city.city.id %}">Delete</a>
    </button>
{% endfor %}


